.experiencesContainer {
  padding-bottom: 100px;
}

.titleSection {
  text-align: center;
}

.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.experienceFutur,
.experienceOne,
.experienceTwo,
.experienceThree {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  width: 80%;
}

.experienceFutur {
  background: #fbfbfb;
  border-radius: 15px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
}

.image {
  padding: 10px;
}

.image,
.infos {
  text-align: center;
}

.lien {
  color: #347c90;
  background-color: #fff;
  border: unset;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  padding: 8px 16px;
}

.lien:hover {
  background: rgba(25, 35, 60, 0.1);
  transition: all 0.2s ease-in-out;
}

.contactButton {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #347c90;
  color: #347c90;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.contactButton:hover {
  background-color: rgba(25, 35, 60, 0.1);
  color: #347c90;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .experiencesContainer {
    padding: 100px 0;
  }

  .experienceOne,
  .experienceTwo,
  .experienceThree {
    display: flex;
    flex-direction: row;
    padding: 40px 60px;
    width: 100%;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40%;
  }

  .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 60%;
  }

  .experienceFutur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 16px;
    width: 80%;
  }

  .experienceFutur > .image {
    width: 50%;
  }

  .experienceFutur > .infos {
    align-items: center;
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .experienceOne,
  .experienceTwo,
  .experienceThree {
    display: flex;
    flex-direction: row;
    padding: 40px 60px;
    width: 100%;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30%;
  }

  .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 60%;
  }

  .experienceFutur {
    display: flex;
    flex-direction: row;
    padding: 40px 16px;
    width: 50%;
  }

  .experienceFutur > .image {
    width: 70%;
  }

  .experienceFutur > .infos {
    align-items: flex-start;
    width: 50%;
  }
}
