.heroContainer{
  padding-bottom: 100px;
}

.moi {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subSection {
  color: #347c90;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.firstSubsection {
  font-weight: 300;
}

.secondSubsection {
  font-weight: 900;
}

.bold {
  color: #347c90;
  font-weight: 700;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .moi {
    justify-content: flex-end;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heroContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 100px 0;
  }

  .moi {
    padding: 0 0 0 80px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
