.container {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 16px 24px;
  top: 0;
  width: 100%;
}

.links {
  display: none;
}

.contact {
  display: none;
}

.logo {
  height: 40px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    padding: 16px 40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .links > li {
    color: #347c90;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 50px;
  }

  .links > li:hover{
      background: rgba(25, 35, 60, 0.1);
      transition: all 0.2s ease-in-out;
  }

  .contact {
    display: flex;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #347c90;
    color: #347c90;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .contact:hover {
    background-color: rgba(25, 35, 60, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .menuButton {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
  }
}
